<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Contact </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style1.css' %}">
    <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
<a href="{% url 'HomePage'%}" class="navbar-brand text-warning font-weight-bold">FARMER PORTAL</a>
<a href="{% url 'HomePage'%}" class="nav-link text-red">BACK TO HOME</a>
<a href="{% url 'HomePage'%}" class="nav-link text-red">BACK TO HOME</a>  

<!-- Right Side Nave Bar-->
<div class="collapse navbar-collapse text-center" id="collapsenavbar">
    <ul class="navbar-nav ml-auto" >
     <li class="nav-item">
       <a href="{% url 'HomePage'%}" class="nav-link text-red">BACK TO HOME</a>
       </li>
</ul>
</div>
  </div>
  </nav>

  {% block content %}
  {% endblock %}

</body>
</html>
